---
import PageLayout from "../layouts/PageLayout.astro";
import ColumnLayout from "../layouts/ColumnLayout.astro";
import Button from "../components/Button.astro";
import Heading2 from "../components/Heading2.astro";
import Heading1 from "../components/Heading1.astro";
import TestimonialCard from "../components/TestimonialCard.astro";
import Achievements from "../components/Achievements.astro";
import MunicipalityCard from "../components/MunicipalityCard.astro";
import Testimonials from "../assets/content/testimonials.json";
import ColumnLayoutImage from "../components/ColumnLayoutImage.astro";
import ContactInformation from "../components/ContactInformation.astro";

// Images
import FamilyHandsSvg from "../assets/images/FamilyHandsSvg.astro";
import KoldingKommune from "../assets/icons/crests/Kolding.svg";
import BillundKommune from "../assets/icons/crests/Billund.svg";
import VardeKommune from "../assets/icons/crests/Varde.svg";
import FredericiaKommune from "../assets/icons/crests/Fredericia.svg";
import ColorBricksImg from "../assets/images/color-bricks.jpg";
import LasseProfileImg from "../assets/images/lasse-profile2.png";
---

<PageLayout
  title="Forside"
  description="Få ADHD og autisme rådgivning med skræddersyet forløb som tager udgangspunkt i din families behov og
  udfordringer ved én af Danmarks førende konsulenter."
>
  <ColumnLayout aria-label="Hero">
    <div class="flex flex-col gap-12 sm:col-span-2">
      <article class="max-w-prose">
        <Heading1>ADHD og autisme konsulent</Heading1>
        <p class="leading-normal">
          Som familiebehandler og specialpædagogisk konsulent, med mere end 25
          års erfaring, hjælper jeg familier med børn med ADHD og autisme at
          finde struktur i en kaotisk hverdag.
        </p>
      </article>
      <div class="flex gap-4">
        <Button href="#kontakt" theme="red" size="lg">
          Gratis Afklarende Samtale
        </Button>
        <Button size="lg" , href="/offentlig-myndighed" theme="dark">
          Er du fra en offentlig myndighed?
        </Button>
      </div>
    </div>
    <FamilyHandsSvg
      handsFillColor="fill-rose-800"
      handsStrokeColor="stroke-rose-950"
      class="w-2/3 max-w-xs self-center justify-self-center sm:w-full"
    />
  </ColumnLayout>
  <ColumnLayout aria-label="Rådgivning">
    <div class="flex max-w-prose flex-col gap-12 sm:col-span-2">
      <article class="grid gap-4">
        <Heading2>Rådgivning</Heading2>
        <div class="flex flex-col gap-4 text-sm leading-relaxed">
          <p>
            Rådgivning dækker forskellige typer af indsatser, der har til formål
            at få hverdagen til at fungere for familien. Forløbet tilrettelægges
            i samarbejde med familien med udgangspunkt i familiens behov og
            udfordringer. Dette kan både være korte og længerevarende forløb.
          </p>
          <p>
            Rådgivning er målrettet familier, der har behov for en specialiseret
            indsats til at løse konkrete problematikker omkring et barn eller en
            ung med ADHD eller autisme.
          </p>
        </div>
      </article>
      <Button href="/radgivning" arrow theme="dark" size="md">
        Om Rådgivning
      </Button>
    </div>
    <ColumnLayoutImage
      src={ColorBricksImg}
      alt="Klodsmajor spil med farvede klodser og en barnehånd som holder en klods"
    />
  </ColumnLayout>
  <section
    class="grid grid-cols-1 gap-16 bg-rose-800 p-8 text-slate-50 sm:justify-between md:grid-cols-2"
    aria-label="Om ADHD og autisme"
  >
    <div
      class="flex flex-col gap-12 justify-self-center"
      aria-label="Hvad er ADHD"
    >
      <article class="grid max-w-sm gap-4">
        <Heading2 color="light">Hvad er ADHD?</Heading2>
        <div class="grid gap-4 text-sm">
          <p>
            Mennesker med ADHD har primært svært ved at koncentrere sig, skabe
            overblik og struktur og ved at planlægge og gennemføre aktiviteter.
          </p>
          <p>
            Det kan bl.a. være svært at sidde stille, at vente på tur, at følge
            de sociale spilleregler, at fuldføre sine opgaver, huske aftaler og
            styre sine følelser.
          </p>
          <p>
            Disse vanskeligheder kan give personer med ADHD problemer på mange
            områder i livet; i skolen, under uddannelse, på job, og i forhold
            til familier, partner og venner. Det kan være svært at få en
            almindelig dagligdag til at fungere.
          </p>
        </div>
      </article>
      <Button href="/hvad-er-adhd" theme="light" arrow size="sm">
        Læs mere om ADHD
      </Button>
    </div>
    <div
      class="flex max-w-prose flex-col gap-12 justify-self-center sm:max-w-full"
      aria-label="Hvad er autisme"
    >
      <article class="grid max-w-sm gap-4">
        <Heading2 color="light">Hvad er autisme?</Heading2>
        <div class="grid gap-4 text-sm">
          <p>
            Autisme er en medfødt anderledeshed i hjernens udvikling, der
            påvirker opfattelsen af omgivelserne og måden, man interagerer med
            andre på.
          </p>
          <p>
            Autisme er en anderledes måde at sanse, forstå og navigere i verden
            på, som kan have stor betydning i sociale sammenhænge og i
            kommunikation med andre mennesker. Nogle autister har ligeledes en
            anderledes sensorisk profil, hvor hjernen registrerer, bearbejder og
            forudser sansemæssige indtryk anderledes og ofte hyper- eller
            hyposensitivt.
          </p>
          <p>
            Autisme kan betragtes som en neurovariation eller neurodiversitet,
            hvilket betoner, at hjernen hos autistiske personer bearbejder
            sociale, følelsesmæssige og sansemæssige input på en anden måde end
            hos den neurotypiske (ikke-autistiske) befolkning.
          </p>
        </div>
      </article>
      <Button href="/hvad-er-autisme" theme="light" arrow size="sm">
        Læs mere om autisme
      </Button>
    </div>
  </section>
  <ColumnLayout aria-label="Om Lasse">
    <ColumnLayoutImage
      src={LasseProfileImg}
      alt="Lasse profil"
      class="object-top"
    />
    <div class="flex flex-col gap-12 sm:col-span-2">
      <article class="grid max-w-prose gap-4">
        <Heading2>Om Lasse Nielsen</Heading2>
        <div class="flex flex-col gap-4 text-sm leading-relaxed">
          <p>
            Mit navn er Lasse, og jeg er en erfaren rådgiver med over 20 års
            erfaring i at støtte familier, der har familiemedlemmer med ADHD
            og/eller autisme. Som selvstændig rådgiver er mit mål at skabe en
            positiv og tryg atmosfære, hvor jeg kan hjælpe jer med at navigere
            gennem udfordringerne ved disse diagnoser.
          </p>
          <p>
            Det er meget vigtigt for mig, at vi sammen finder skræddersyede
            løsninger og værktøjer der passer lige præcist til jeres familie.
            Dette vil selvfølgelig tage udgangspunkt i den nyeste viden på
            området.
          </p>
        </div>
      </article>
      <Button href="/om" arrow theme="dark" size="md">Om Lasse</Button>
    </div>
  </ColumnLayout>
  <Achievements background="red" />
  <section
    class="mx-auto grid w-full max-w-screen-lg gap-4"
    aria-label="Samarbejdspartnere"
  >
    <Heading2>Mine samarbejdspartnere</Heading2>
    <div class="grid grid-cols-1 gap-4 text-sm sm:grid-cols-3">
      <MunicipalityCard crest={KoldingKommune} municipality="Kolding" />
      <MunicipalityCard crest={FredericiaKommune} municipality="Fredericia" />
      <MunicipalityCard crest={VardeKommune} municipality="Varde" />
      <MunicipalityCard crest={BillundKommune} municipality="Billund" />
    </div>
  </section>
  <section
    class="mx-auto grid w-full max-w-screen-lg gap-8"
    aria-label="Hvad andre siger"
  >
    <Heading2>Hvad andre siger</Heading2>
    <div
      class="grid grid-cols-1 justify-items-center gap-8 text-sm sm:grid-cols-3"
    >
      {
        Testimonials.map((client) => (
          <TestimonialCard
            clientName={client.name}
            statement={client.statement}
          />
        ))
      }
    </div>
  </section>
  <ContactInformation />
</PageLayout>
