---
import ColumnLayout from "../layouts/ColumnLayout.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Heading2 from "../components/Heading2.astro";
import Heading1 from "../components/Heading1.astro";
import Button from "../components/Button.astro";
import PriceCard from "../components/PriceCard.astro";
import ProcessStep from "../components/ProcessStep.astro";
import Testimonials from "../assets/content/testimonials.json";
import TestimonialCard from "../components/TestimonialCard.astro";
import ColumnLayoutImage from "../components/ColumnLayoutImage.astro";

// Images
import FamilyHands from "../assets/images/family-hands.jpg";
import MotherDaughterForest from "../assets/images/mother-daughter-forest.jpg";
import ConversationSvg from "../assets/icons/ConversationSvg.astro";
import TaskListSvg from "../assets/icons/TaskListSvg.astro";
import StrategySvg from "../assets/icons/StrategySvg.astro";
import RecycleSvg from "../assets/icons/RecycleSvg.astro";
---

<PageLayout
  title="Rådgivning"
  description="Lær mere om ADHD og autisme rådgivning, forløbet og priser hos ADHD-Konsulent.dk."
>
  <ColumnLayout>
    <article
      class="flex max-w-prose flex-col gap-8 sm:col-span-2"
      aria-label="rådgivning"
    >
      <Heading1>Rådgivning</Heading1>
      <div class="grid gap-4">
        <p>
          Rådgivning dækker forskellige typer af indsatser, der har til formål
          at få hverdagen til at fungere i familien. Forløbet tilrettelægges i
          samarbejde med familien ud fra et helhedssyn, og strækker sig som
          regel over en længere periode. Et familiebehandlingsforløb kan foregå
          på mange måder alt efter din families behov og de udfordringer,
          forløbet skal imødekomme.
        </p>
        <p>
          Familiebehandling er målrettet familier, der har behov for en
          længerevarende indsats for at kunne løse konkrete problematikker
          omkring et barn eller en ung med varig funktionsnedsættelse.
        </p>
      </div>
    </article>
    <ColumnLayoutImage
      src={FamilyHands}
      alt="Hænder fra en familie lagt overpå hinanden"
    />
  </ColumnLayout>
  <ColumnLayout>
    <ColumnLayoutImage
      src={MotherDaughterForest}
      alt="Mor og datter går hånd i hånd i en skov"
      class="order-last sm:order-first"
    />
    <article class="flex flex-col gap-8 sm:col-span-2" aria-label="mål">
      <Heading2>Mål</Heading2>
      <ul class="grid">
        Generelle mål med rådgivning er at etablere en hverdag der er
        kendetegnet ved:
        <div class="flex flex-wrap gap-4">
          <li
            class="self-center rounded-lg bg-slate-50 px-4 py-2 shadow-md transition-all hover:rotate-0 hover:shadow-lg motion-safe:-rotate-3 motion-safe:hover:px-6"
          >
            Færre konflikter
          </li>
          <li
            class="self-center rounded-lg bg-slate-50 px-4 py-2 shadow-md transition-all hover:rotate-0 hover:shadow-lg motion-safe:rotate-3 motion-safe:hover:px-6"
          >
            Øge barnets selvtillid og selværd
          </li>
          <li
            class="self-center rounded-lg bg-slate-50 px-4 py-2 shadow-md transition-all hover:rotate-0 hover:shadow-lg motion-safe:rotate-3 motion-safe:hover:px-6"
          >
            At have konkrete værktøjer
          </li>
          <li
            class="self-center rounded-lg bg-slate-50 px-4 py-2 shadow-md transition-all hover:rotate-0 hover:shadow-lg motion-safe:rotate-3 motion-safe:hover:px-6"
          >
            Større viden og indsigt i ADHD og autisme
          </li>
        </div>
      </ul>
      <p class="font-bold">
        Det er vigtig at vi sammen tilrettelægger jeres forløb sådan at det
        passer til jeres familie.
      </p>
    </article>
  </ColumnLayout>
  <ColumnLayout class="gap-32 sm:gap-8">
    <section class="flex flex-col gap-8 sm:col-span-1" aria-label="Forløb">
      <Heading2>Forløb</Heading2>
      <div class="flex flex-col items-center gap-4">
        <ProcessStep
          arrow
          title="Opstartssamtale"
          description="Indledende samtale for at afdække jeres families situation og mål"
        >
          <ConversationSvg
            class="w-8 fill-slate-700 group-hover:fill-rose-800"
            slot="icon"
          />
        </ProcessStep>
        <ProcessStep
          arrow
          title="Skræddersyet forløb"
          description="Vi arbejder sammen om at etablere struktur og balance"
        >
          <StrategySvg
            class="w-8 fill-slate-700 group-hover:fill-rose-800"
            slot="icon"
          />
        </ProcessStep>
        <ProcessStep
          arrow
          title="Implementering"
          description="Gennemførelse af planen med støtte, værktøjer og træning"
        >
          <TaskListSvg
            class="w-8 fill-slate-700 group-hover:fill-rose-800"
            slot="icon"
          />
        </ProcessStep>
        <ProcessStep
          arrow={false}
          title="Evaluering"
          description="Periodisk opfølgning og tilpasning af planen efter jeres families udvikling og behov"
        >
          <RecycleSvg
            class="w-8 fill-slate-700 group-hover:fill-rose-800"
            slot="icon"
          />
        </ProcessStep>
      </div>
    </section>
    <section
      class="mx-auto flex h-full flex-col gap-4 sm:col-span-2"
      aria-label="pris"
    >
      <Heading2>Pris</Heading2>
      <div class="flex items-center justify-between gap-8">
        <p>Få en gratis afklarende samtale!</p>
        <Button href="/kontakt" theme="red" size="md">Kontakt</Button>
      </div>
      <div class="flex flex-col justify-between gap-8">
        <PriceCard
          title="Afklarende Samtale"
          price="Gratis"
          buttonTheme="red"
          description="En uforpligtigende samtale, om hvad jeg kan gøre for din familie"
        />
        <PriceCard
          title="Rådgivning"
          price={695}
          description="Standard rådgivning á en time"
        />
        <PriceCard
          title="Start Pakke"
          price={3500}
          description="5x rådgivning, velegnet til lettere udfordrede familier"
        />
        <PriceCard
          title="Udvidet Pakke"
          price={6000}
          description="10x rådgivning, anbefalet til svært udfordrede familier"
        />
        <PriceCard
          title="Forældre Kursus"
          price={10000}
          description="12 moduler med udgangspunkt i Kærlighed i Kaos, som er et evidensbaseret forældretræningskursus."
        />
      </div>
    </section>
  </ColumnLayout>
  <section
    class="mx-auto grid w-full max-w-screen-lg gap-8"
    aria-label="hvad andre siger"
  >
    <Heading2>Hvad andre siger</Heading2>
    <div
      class="grid grid-cols-1 justify-items-center gap-8 text-sm sm:grid-cols-3"
    >
      {
        Testimonials.map((client) => (
          <TestimonialCard
            clientName={client.name}
            statement={client.statement}
          />
        ))
      }
    </div>
  </section>
</PageLayout>
